<h2>User info</h2>
<%=image_tag user.get_profile_image(100,100) %>
<table class="table table-striped">
  <tr>
    <td>name</td>
    <td><%= user.name %></td>
  </tr>
  <th>
    <td>introduction</td>
    <td><%= user.introduction %></td>
  </th>
</table>

<%= link_to edit_user_path(user.id), class: "col-md-12 btn btn-primary" do %>
<i class="fas fa-user-cog"></i>
<% end %>
